<phpunit>
    <extensions>
        <extension class="Qameta\Allure\PHPUnit\AllureExtension" />
    </extensions>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">tests/</directory>
            <directory suffix=".php">src/Core</directory>
            <directory suffix=".php">src/Enums</directory>
            <directory suffix=".php">src/Helpers</directory>
            <directory suffix=".php">src/Views</directory>
            <directory suffix=".php">src/Http/Core</directory>
            <directory suffix=".php">src/Http/Middlewares</directory>
            <directory suffix=".php">src/config</directory>
        </exclude>
        <report>
            <clover outputFile="coverage-report/clover.xml"/>
            <html outputDirectory="coverage-report/html"/>
        </report>
    </coverage>
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="1" />
        <ini name="log_errors" value="1" />
    </php>
</phpunit>